html{
    scroll-behavior: smooth!important;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

*{
	padding: 0px; margin: 0px;
	box-sizing: border-box;
	font-family: 'Rubik', sans-serif;
}

.navbar{
    background-color: #f65d5d;
}